body, html, h1, h2, ul{
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 微軟正黑體;
    border: 1px black solid;
}

.div{
    width: 100%;
    height: auto;
}
#home .navbar.navbar-expand-lg.navbar-light.bg-light{
    position: fixed;
    width: 100%;
    color: rgb(53, 22, 22);
}

h1{
    width: 100%;
    background-color: #C9BC9D;
}


.div#home header, .fooddiv, .div.info .info, .div.about, #card_lin, #card_tai{
    display: none;
}
.show{
    display: block !important;
}
.color{
    color: red;
}
